.die {
  border-radius: 8px;
  color: #2b283a;
  font-family: "Karla", sans-serif;
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 0em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 40px;
  color: #2b283a;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.15);
}

.green {
  background-color: #59E391;
}

.white {
  background-color: white;
}

@media only screen and (min-width: 800px) {
  .die {
    height: 55px;
    width: 65px;
    font-size: 28px;
  }
}
